{% extends 'base.html' %}

{% block content %}

    {% for i in quotes %}

        <div class="card">
            <div class="card-body">
                <h4>{{ i.title }}</h4>
                {{ i.description }}
            </div>
        </div>
    {% endfor %}

{% endblock %}